﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Scripts/bootstrap.min.css">
    <link rel="stylesheet" href="~/Scripts/">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

<style type="text/css">
    h3 { color: cornflowerblue; font-family: 'Rouge Script', cursive; font-size: 30px; font-weight: normal; line-height: 48px; margin: 0 0 50px; text-align: center; text-shadow: 1px 1px 2px #082b34; }
    h4 { color: forestgreen; font-family: 'Rouge Script', cursive; font-size: 22px; font-weight: normal; line-height: 48px; margin: 0 0 50px; text-align: left; text-shadow: 1px 1px 2px #082b34; }
    h5 { color: orange; font-family: 'Rouge Script', cursive; font-size: 25px; font-weight: normal; line-height: 48px; margin: 0 0 50px; text-align: left; text-shadow: 1px 1px 2px #082b34;}
    h6 { color: orange; font-family: 'Rouge Script', cursive; font-size: 18px; font-weight: normal; line-height: 48px; text-align: left; text-shadow: 1px 1px 2px #082b34;}
    td {
        border: 1px #DDD solid;
        padding: 5px;
        cursor: pointer;
    }

    .selected {
        background-color: brown;
        color: #FFF;
    }
</style>

</head>
<body>
    <div class="container body-content" style="margin-top:-30px">
            @RenderBody()
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>