﻿@model KeyFobsControlUser.Models.ViewModel_Reasons

@{
    ViewBag.Title = "KeysFobs Control - Razões";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="menu" style="width:100%;height:30px;">
    <div id="menubotaousers" style="width:33.3%;height:30px;background-color:#B7B4B4;float:left;display:inline-block;display: table-cell;vertical-align: middle;border:1px solid #FFFFFF;cursor: pointer;" onclick="UsersClick()">
        <center><label style="font-weight:bold;font-size:16px;cursor: pointer;" onclick="UsersClick()">Operadores</label></center>
    </div>

    <div id="menubotaoreasons" style="width:33.3%;height:30px;background-color:#0E4095;color:white;float:left;display:inline-block;display: table-cell;vertical-align: middle;border:1px solid #FFFFFF;cursor: pointer;" onclick="ReasonsClick()">
        <center><label style="font-weight:bold;font-size:16px;cursor: pointer;" onclick="ReasonsClick()">Razões</label></center>
    </div>

    <div id="menubotalogin" style="width:33.3%;height:30px;background-color:#B7B4B4;float:left;display:inline-block;display: table-cell;vertical-align: middle;border:1px solid #FFFFFF;cursor: pointer;" onclick="Logout()">
        <center><label style="font-weight:bold;font-size:16px;cursor: pointer;" onclick="Logout()">Logout</label></center>
    </div>
</div>

<button id="addreason" style="margin-top:4%;cursor:pointer;" class="btn btn-success" onclick="updateStyle()" data-toggle="modal" data-backdrop="static" data-target="#modalnovarazao">Adicionar Razão</button>
<br /><br />
<div>
   <label style="color:#FF0000">@ViewBag.Erro</label>
</div>
<div class="row">
    <div class="col-sm-10">
        <table class="table" id="tabelarazoes">
            <tr>
                <th>Razão</th>
                <th>TipoRazão</th>
                <th>Eliminar Razão</th>
            </tr>

            <tr>
                <td><input type="text" id="razaoSearch" class="form-control" onkeyup="AplicaFiltros(this.id,0)" placeholder="Razão" /></td>
                <td><input type="text" id="tipoRazaoSearch" class="form-control" onkeyup="AplicaFiltros(this.id,1)" placeholder="Tipo Razão" /></td>
                <td></td>
            </tr>

            @foreach (var item in Model.Reasons)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reason)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReasonType)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.Reason_ID)
                    </td>
                    <td>
                        <button id="@("delete" + item.Reason_ID)" style="cursor:pointer;" onclick="ConfirmDelete('@item.Reason_ID')" class="btn btn-danger" data-sample-id="@item.Reason_ID;@item.Reason;@item.ReasonType" data-toggle="modal" data-backdrop="static" data-target="#modalnovarazao">Eliminar</button>
                    </td>
                </tr>
            }
        </table>
    </div>

    <!-- Janela de alteração do user -->
    <div class="modal fade" id="modalnovarazao" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                    <h3 class="modal-title">Dados Razão:</h3>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label for="inputrazao" class="col-sm-5 col-form-label">Razão:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="razao" placeholder="Razão">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputnome" class="col-sm-5 col-form-label">Tipo Razão:</label>
                            <div class="col-sm-10">
                                <select id="tiporazao">
                                    @foreach (var item in Model.ReasonsType)
                                    {
                                        <option name="tiporazao" value="@item.Type">@item.Type</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <label id="labelerror" name="labelerror" style="color:red"></label>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal">Voltar</button>
                    <button onclick="novaRazaoValidacao()" class="btn btn-success">Confirmar</button>
                </div>
            </div>

        </div>
    </div>


</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    var filterValue = "";
    var filterName = "";

    function AplicaFiltros(obj, index) {
        var textofiltro = document.getElementById(obj).value;

        this.filterValue = textofiltro;
        this.filterName = obj.toString();

        if (textofiltro.length == 0) {
            var tabelaOperadores = document.getElementById("tabelarazoes");

            for (i = 2; i < tabelaOperadores.rows.length; i++) {
                for (ii = 0; ii < tabelaOperadores.rows[i].cells.length - 1; ii++) {
                    if (ii == index) {
                        tabelaOperadores.rows[i].style.display = "";
                    }
                }
            }

            return;
        }

        var tabelaOperadores = document.getElementById("tabelarazoes");

        for (i = 2; i < tabelaOperadores.rows.length; i++) {
            for (ii = 0; ii < tabelaOperadores.rows[i].cells.length - 1; ii++) {
                if (ii == index) {
                    if (tabelaOperadores.rows[i].cells[ii].innerHTML.toString().toLowerCase().includes(textofiltro.toLowerCase())) {
                        tabelaOperadores.rows[i].style.display = "";
                    }
                    else {
                        tabelaOperadores.rows[i].style.display = "none";
                    }
                }
            }
        }
    }

    function novaRazaoValidacao() {
        var razao = document.getElementById('razao').value;
        var tiporazao = document.getElementById('tiporazao').value;

        if (razao == "" || tiporazao == "") {
            document.getElementById('labelerror').innerHTML = "Os campos são obrigatórios!";
            return;
        }

        location.href = '@Url.Action("NovoActualizaRazao", "Admin")?razao=' + razao + '&tiporazao=' + tiporazao;
    }

    function UsersClick() {
        location.href = '@Url.Action("UsersAdmin", "Admin")';
    }

    function ReasonsClick() {
        location.href = '@Url.Action("ReasonsAdmin", "Admin")';
    }

    function Logout() {
        location.href = '@Url.Action("ValidLogout", "Login")';
    }

    function ConfirmDelete(reasonid) {
        var x = confirm("Tem a certeza que quer eliminar?");
        if (x) {
            location.href = '@Url.Action("Delete", "Admin")?reasonid=' + reasonid;
            return true;
        } else {
            return false;
        }
    }
</script>