﻿@model KeyFobsControlUser.Models.ViewModel_Admin

@{
    ViewBag.Title = "KeysFobs Control - Operadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="menu" style="width:100%;height:30px;">
    <div id="menubotaousers" style="width:33.3%;height:30px;background-color:#0E4095;color:white;float:left;display:inline-block;display: table-cell;vertical-align: middle;border:1px solid #FFFFFF;cursor: pointer;" onclick="UsersClick()">
        <center><label style="font-weight:bold;font-size:16px;cursor: pointer;" onclick="UsersClick()">Operadores</label></center>
    </div>

    <div id="menubotaoreasons" style="width:33.3%;height:30px;background-color:#B7B4B4;float:left;display:inline-block;display: table-cell;vertical-align: middle;border:1px solid #FFFFFF;cursor: pointer;" onclick="ReasonsClick()">
        <center><label style="font-weight:bold;font-size:16px;cursor: pointer;" onclick="ReasonsClick()">Razões</label></center>
    </div>

    <div id="menubotalogin" style="width:33.3%;height:30px;background-color:#B7B4B4;float:left;display:inline-block;display: table-cell;vertical-align: middle;border:1px solid #FFFFFF;cursor: pointer;" onclick="Logout()">
        <center><label style="font-weight:bold;font-size:16px;cursor: pointer;" onclick="Logout()">Logout</label></center>
    </div>
</div>

<button id="addoperador" style="margin-top:4%;cursor:pointer;" class="btn btn-success" onClick="updateStyle()" data-toggle="modal" data-backdrop="static" data-target="#modalnovooperador">Adicionar Operador</button>
<br /><br />
<div>
    <label style="color:#FF0000">@ViewBag.Erro</label>
</div>
      <div class="row">
          <div class="col-sm-10">
              <table class="table" id="tabelaOperadores">
                  <tr>
                      <th>KeyFob</th>
                      <th>Nome</th>
                      <th>NºPolisport</th>
                      <th>Activo</th>
                      <th>Editar Operador</th>
                  </tr>

                  <tr>
                      <td><input type="text" id="keyFobSearch" class="form-control" onkeyup="AplicaFiltros(this.id,0)" placeholder="KeyFob" /></td>
                      <td><input type="text" id="nomeSearch" class="form-control" onkeyup="AplicaFiltros(this.id,1)" placeholder="Nome" /></td>
                      <td><input type="text" id="npolisportSearch" class="form-control" onkeyup="AplicaFiltros(this.id,2)" placeholder="Nº. polisport" /></td>
                      <td><input type="text" id="activoSearch" class="form-control" onkeyup="AplicaFiltros(this.id,3)" placeholder="Activo" /></td>
                      <td></td>
                  </tr>

                  @foreach (var item in Model.Operadores)
                  {
                      <tr>
                          <td>
                              @Html.DisplayFor(modelItem => item.KeyFob)
                          </td>
                          <td>
                              @Html.DisplayFor(modelItem => item.Nome)
                          </td>
                          <td>
                              @Html.DisplayFor(modelItem => item.NumeroOperador)
                          </td>
                          <td>
                              @Html.DisplayFor(modelItem => item.Activo)
                          </td>
                          <td>
                                <button id="@("edit" + item.KeyFob)" style="cursor:pointer;" onclick="preencheInfo('@item.KeyFob')" class="btn btn-warning" data-sample-id="@item.KeyFob;@item.Nome;@item.NumeroOperador;@item.Activo" data-toggle="modal" data-backdrop="static" data-target="#modalnovooperador">Editar</button>
                          </td>
                      </tr>
                  }
              </table>
          </div>

          <!-- Janela de alteração do user -->
          <div class="modal fade" id="modalnovooperador" role="dialog">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                          <h3 class="modal-title">Dados do Operador:</h3>
                      </div>
                      <div class="modal-body">
                          <form>
                              <div class="form-group row">
                                  <label for="inputkeyfob" class="col-sm-5 col-form-label">KeyFob:</label>
                                  <div class="col-sm-10">
                                      <input type="text" class="form-control" id="keyfob" placeholder="keyfob">
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label for="inputnome" class="col-sm-5 col-form-label">Nome:</label>
                                  <div class="col-sm-10">
                                      <input type="text" class="form-control" id="nome" placeholder="nome">
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label for="inputnpolisport" class="col-sm-5 col-form-label">NºPolisport:</label>
                                  <div class="col-sm-10">
                                      <input type="text" class="form-control" id="npolisport" placeholder="nºpolisport">
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label for="inputnpolisport" class="col-sm-5 col-form-label">Activo:</label>
                                  <div class="col-sm-10">
                                      <input type="radio" id="activoradio" name="activoradio" value="Sim" onchange="ChangeRadio('Sim')"> Sim
                                      <input type="radio" id="activoradio" name="activoradio" value="Não" onchange="ChangeRadio('Não')"> Não
                                  </div>
                              </div>
                              <label id="labelerror" name="labelerror" style="color:red"></label>
                          </form>
                      </div>
                      <div class="modal-footer">
                          <button class="btn btn-info" data-dismiss="modal">Voltar</button>
                          <button onClick="novoOperadorValidacao()" class="btn btn-success">Confirmar</button>
                      </div>
                  </div>

              </div>
          </div>


      </div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    var filterValue = "";
    var filterName = "";
    var update = false;

    function AplicaFiltros(obj, index) {
        var textofiltro = document.getElementById(obj).value;

        this.filterValue = textofiltro;
        this.filterName = obj.toString();

        if (textofiltro.length == 0) {
            var tabelaOperadores = document.getElementById("tabelaOperadores");

            for (i = 2; i < tabelaOperadores.rows.length; i++) {
                for (ii = 0; ii < tabelaOperadores.rows[i].cells.length - 1; ii++) {
                    if (ii == index) {
                        tabelaOperadores.rows[i].style.display = "";
                    }
                }
            }

            return;
        }

        var tabelaOperadores = document.getElementById("tabelaOperadores");

        for (i = 2; i < tabelaOperadores.rows.length; i++) {
            for (ii = 0; ii < tabelaOperadores.rows[i].cells.length - 1; ii++) {
                if (ii == index) {
                    if (tabelaOperadores.rows[i].cells[ii].innerHTML.toString().toLowerCase().includes(textofiltro.toLowerCase())) {
                        tabelaOperadores.rows[i].style.display = "";
                    }
                    else {
                        tabelaOperadores.rows[i].style.display = "none";
                    }
                }
            }
        }
    }

    function preencheInfo(keyfob) {
        var info = $("#edit" + keyfob).data('sample-id');
        var resultado = info.split(";");
        var keyfob = resultado[0];
        var nome = resultado[1];
        var npolisport = resultado[2];
        var activoValue = resultado[3];

        document.getElementById('keyfob').value = keyfob;
        document.getElementById('keyfob').disabled = true;
        document.getElementById('nome').value = nome;
        document.getElementById('npolisport').value = npolisport;

        var radios = document.getElementsByName('activoradio');
        for (var j = 0; j < radios.length; j++) {
            if (radios[j].value == activoValue) {
                radios[j].checked = true;
                break;
            }
        }

        update = true;
    }

    function updateStyle() {
        document.getElementById('keyfob').value = "";
        document.getElementById('keyfob').disabled = false;
        document.getElementById('nome').value = "";
        document.getElementById('nome').disabled = false;
        document.getElementById('npolisport').value = "";
        document.getElementById('npolisport').disabled = false;
        document.getElementById('activoradio').value = "";
        document.getElementById('activoradio').disabled = false;
        update = false;
    }

    function ChangeRadio(value) {
        document.getElementById('activoradio').value = value;
    }

    function novoOperadorValidacao() {
        var keyfob = document.getElementById('keyfob').value;
        var nome = document.getElementById('nome').value;
        var npolisport = document.getElementById('npolisport').value;
        var activo = document.getElementById('activoradio').value;

        if (keyfob == "" || nome == "" || npolisport == "" || activo == "") {
            document.getElementById('labelerror').innerHTML = "Os campos são obrigatórios!";
            return;
        } 

        location.href = '@Url.Action("NovoActualizaAdmin", "Admin")?keyfob=' + keyfob + '&nome=' + nome + '&npolisport=' + npolisport + '&activo=' + activo + '&update=' + update;
    }

    function UsersClick() {
        location.href = '@Url.Action("UsersAdmin", "Admin")';
    }

    function ReasonsClick() {
        location.href = '@Url.Action("ReasonsAdmin", "Admin")';
    }

    function Logout() {
        location.href = '@Url.Action("ValidLogout", "Login")';
    }
</script>