﻿@{
    ViewBag.Title = "KeysFobs Control";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="header" style="width:100%;">
    <div style="width:35%;float:left;">
        <img src="~/Images/Polisportlogo.png" height="120" width="200">
    </div>
    <div style="width:55%;float:left;display:inline-block;">
        <br /><br />
        <h2 style="">KeysFobs Control User</h2>
    </div>
    <div style="width:10%;display:inline-block;">
        <br /><br />
        <button type="button" onClick="Admin()" class="btn btn-primary" style="font-weight:bold;">Admin</button>
    </div>
</div>

<div style="margin-top:10%;width:80%;margin-left:10%;margin-right:10%;">
    <center><label style="color:#FF0000;font-weight:bold;">@ViewBag.Erro</label></center>
    <center><label style="color:#006400;font-weight:bold;">@ViewBag.Info</label></center>
</div>

<div id="content" style="margin-top:5%;background-color:#D3D3D3;width:80%;margin-left:10%;margin-right:10%;height:20vh;float:left;display:inline-block;">  
    <center>
        <label style="margin-top:5%;margin-bottom:5%;font-weight:bold;font-size:20px">Passe o keyfob no leitor:</label>
        <input style="margin-top:5%;margin-bottom:5%;height:50px;width:300px;" type="text" id="readkeyfob" onkeydown="Check(this)" onfocusout="myFocusFunction()" autofocus>
    </center>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    var x = document.getElementById("myForm");
    x.addEventListener("focusout", myFocusFunction);

    function myFocusFunction() {
        document.getElementById("readkeyfob").focus();
    }

    function Admin() {
        location.href = '@Url.Action("UsersAdmin", "Admin")';
    }

    function Check(key) {
        if (event.key === 'Enter') {
            var keyfob = document.getElementById("readkeyfob").value;
            location.href = '@Url.Action("ListReasons", "Home")?readkeyfob=' + keyfob;
        }
    }
</script>

