﻿@model KeyFobsControlUser.Models.ViewModel_Reasons

@{
    ViewBag.Title = "KeysFobs Control User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="header" style="width:100%;height:20vh;">
    <div style="width:35%;float:left;">
        <img src="~/Images/Polisportlogo.png" height="120" width="200">
    </div>
    <div style="width:55%;float:left;display:inline-block;">
        <br /><br />
        <h2 style="">KeysFobs Control User</h2>
    </div>
    <div style="width:10%;display:inline-block;">
        <br /><br />
        <button type="button" class="btn btn-primary" style="font-weight:bold;" onclick="Back()">Voltar</button>
    </div>
</div>

<div id="content" style="margin-top:5%">
    <div id="contenttype" style="display:inline-block;float:left;width:40%;margin-left:10%;">
       <center> 
           <table id="tableType" style="font-size:30px;">
            @foreach (var item in Model.ReasonsType)
            {
                <tr id="@item.Reason_Type_ID">
                    <td>@item.Type</td>
                </tr>
            }
            </table>
        </center>
    </div>

    <div id="contentreasons" style="display:inline-block;float:left;width:40%;margin-right:10%">
        <table id="tableReason" style="font-size:30px;visibility:hidden;">
            @foreach (var item in Model.Reasons)
            {
                <tr id="@item.Reason_ID">
                    <td>@item.Reason</td>
                    <td hidden>@item.ReasonType</td>
                </tr>
            }
        </table>
    </div>

    <div id="buttonok" style="display:inline-block;float:left;width:100%;margin-top:5%;margin-bottom:5%;visibility:hidden;">
        <center><input type="button" class="btn btn-success" value="Confirmar" onclick="Confirmar()"/></center>
    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    var reason = "";
    var reasonType = "";
    var keyfob = "";

    //window.addEventListener("load", function () {
    //    document.getElementById("tableReason").style.visibility = 'hidden';
    //    document.getElementById("buttonok").style.visibility = 'hidden';
    //});

    $("#tableReason tr").click(function () {
        $(this).addClass('selected').siblings().removeClass('selected');
        reason = $("#tableReason tr.selected td:first").html()
        document.getElementById("buttonok").style.visibility = 'visible';
    });

    $("#tableType tr").click(function () {
        var reason = "";
        document.getElementById("buttonok").style.visibility = 'hidden';
        $(this).addClass('selected').siblings().removeClass('selected');
        reasonType = $("#tableType tr.selected td:first").html();

        var tabelaReasons = document.getElementById("tableReason");

        for (i = 0; i < tabelaReasons.rows.length; i++) {
            if (tabelaReasons.rows[i].cells[1].innerHTML.toString().toLowerCase().includes(reasonType.toLowerCase())) {
                tabelaReasons.rows[i].style.display = "";
            }
            else {
                tabelaReasons.rows[i].style.display = "none";
            }
        }

        document.getElementById("tableReason").style.visibility = 'visible';
        keyfob = '@Model.KeyFob';
    });

    function Confirmar() {
        if (reason != "" && reasonType != "") {
            window.location.href = "/Home/SetReasons?reason=" + reason + "&reasontype=" + reasonType + "&keyfob=" + keyfob;
        } else {
            alert("Escolha a razão que pretende");
        }
    }

    function Back() {
        window.location.href = "/Home/Index";
    }
</script>

