﻿@model VisualizadorInspecoesQMS.Models.ViewModal_Inspecao

@{
    ViewBag.Title = "Visualiza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("Index")

<style type="text/css">
    
    #FotoSelecionada{
    width: 100%;
    height: 100%;
    object-fit: contain;
    }

    .contained {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.contained::after {
    content: "";
    clear: both;
    display: table;
}

.contained img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.contained img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}
</style>


@Html.ActionLink("Voltar", "Inspecoes", new { }, new { @class = "btn btn-default" })

<div class="row">
    <div class="col-sm-6">
        <h5>Inspeção @Model.Inspecao.NumeroPedido</h5>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Inspecao.Passou)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Inspecao.Passou)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Inspecao.Inspetor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Inspecao.Inspetor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Inspecao.DataCriacao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Inspecao.DataCriacao)
            </dd>
            
            <dt>
                @Html.DisplayNameFor(model => model.Inspecao.Empresa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Inspecao.Empresa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Inspecao.Armazem)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Inspecao.Armazem)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Inspecao.Artigo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Inspecao.Artigo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Inspecao.Descricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Inspecao.Descricao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Inspecao.Lote)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Inspecao.Lote)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Inspecao.Fornecedor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Inspecao.Fornecedor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Inspecao.NomeFornecedor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Inspecao.NomeFornecedor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Inspecao.NivelFornecedor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Inspecao.NivelFornecedor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Inspecao.OC)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Inspecao.OC)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Inspecao.TamanhoLote)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Inspecao.TamanhoLote)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Inspecao.PecaCritica)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Inspecao.Peca_Critica)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Inspecao.EmailEnviadoLab)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Inspecao.EmailEnviadoLab)
            </dd>
        </dl>
        @if (Model.Inspecao.Rececoes != null)
        {
            <hr />
            <h5 style="color:forestgreen">Receções</h5>
    <h5>Derrogação do material rejeitado</h5>
    <h8>
        Ao derrogar o material, o programa vai remover a entrada associada ao lote que está rejeitado, permitindo assim que consiga mover para onde pretende.<br /><span style="color:red">
            Se derrogar, o programa automaticamente coloca uma mensagem no chat da inspeção a informação que o seu utilizador derrogou este lote.
        </span>
    </h8>
            var m = (VisualizadorInspecoesQMS.Models.POCO_Login)Session[VisualizadorInspecoesQMS.Services.SessionVariables.Variaveis.UserAuthentication.Nome];
               <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Receção</th>
                        <th>Quantidade</th>
                        <th>Derrogar</th>
                    </tr>
                </thead>
                <tbody>
                    @{
            foreach (var rec in Model.Inspecao.Rececoes)
            {
                <tr>
                    <td>@rec.Rececao</td>
                    <td>@rec.Quantidade</td>
                    @if (!Model.Derrogado(rec.Rececao) && !Model.Inspecao.Passou && m.PodeDerrogar())
                    {
                        <td>@Html.ActionLink("Derroga", "Derroga", new { rececao = rec.Rececao }, new { @class = "btn btn-warning" })</td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
            }
                    }
                </tbody>
            </table>
        }
        <h5 style="color:forestgreen">Testes</h5>
        <hr />

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Teste</th>
                    <th>Descrição</th>
                    <th>Especificação</th>
                    <th>Resultados</th>
                    <th>Total testes</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var tst in Model.Inspecao.Testes)
                    {
                        <tr>
                            <td>@tst.Nome</td>
                            <td>@tst.Descricaoteste</td>
                            <td>@tst.EspecificacaoNome</td>
                            <td>@Html.ActionLink("Ver", "Visualiza", "Home", new { inspec = Model.Inspecao.NumeroPedido, teste = tst.Nome }, new { @class = "btn btn-success" })</td>
                            <td>@tst.Resultados.Count()</td>
                        </tr>
                    }
                }
            </tbody>
            </table>

        <div class="row">
            @{
                <hr />
                <h5>Resultados</h5>
                 <div style="width: 500px; height: 500px; overflow-y: scroll;">
                     @if (Model.ResultadosEscolhidos.Count > 0)
                     {
                     <table class="table table-striped">
                         <thead>
                             <tr>
                                 @if (Model.ResultadosEscolhidos.First().TipoTeste == 1)
                                 {
                                    <th>Nome</th>
                                    <th>Observação</th>
                                    <th>Fotos</th>
                                    <th>Cota A</th>
                                    <th>Cota B</th>
                                    <th>Cota C</th>
                                    <th>OK/NOK</th>
                                 }
                                 else if (Model.ResultadosEscolhidos.First().TipoTeste == 0)
                                 {
                                    <th>Nome</th>
                                    <th>Observação</th>
                                    <th>Fotos</th>
                                    <th>OK/NOK</th>
                                 }
                                 else if (Model.ResultadosEscolhidos.First().TipoTeste == 2)
                                 {
                                    <th>Nome</th>
                                    <th>Observação</th>
                                    <th>Fotos</th>
                                    <th>OK/NOK</th>
                                 }
                                 else if (Model.ResultadosEscolhidos.First().TipoTeste == 3)
                                 {
                                    <th>Nome</th>
                                    <th>Observação</th>
                                    <th>Fotos</th>
                                    <th>OK/NOK</th>
                                 }
                             </tr>
                         </thead>
                         <tbody>
                             @{
                                 int linha = 0;
                                 foreach (var result in Model.ResultadosEscolhidos)
                                 {
                                     linha += 1;
                                     <tr >
                                         <td>@result.Nome</td>
                                         <td>@result.Observacao</td>
                                          @{
                                     if (result.NomesFotos.Count > 0)
                                     {
                                         for (int i = 0; i < result.NomesFotos.Count(); i++)
                                         {
                                             if (result.NomesFotosImagem[result.NomesFotos[i].ToString()].Contains(".pdf"))
                                             {
                                                <td><a href="@result.NomesFotosImagem[result.NomesFotos[i].ToString()]" target="_blank">Ver pdf</a></td>
                                             }
                                             else
                                             {
                                                <td><img id='@linha' onclick='MostraFoto(this)' src="@result.NomesFotosImagem[result.NomesFotos[i].ToString()]" width=" 30" height="30" class="myPic" /></td>
                                             }
                                         }
                                     }
                                     else
                                     {
                                     <td></td>
                                            }
                                          }
                                         @if (result.TipoTeste == 1)
                                         {
                                             var o = result as VisualizadorInspecoesQMS.Models.DTO_Teste.NumericoQualitativo;
                                             
                                            <td>@o.CotaA</td>
                                            <td>@o.CotaB </td>
                                            <td>@o.CotaC </td>

                                             var res = ((VisualizadorInspecoesQMS.Models.DTO_Teste.NumericoQualitativo)(result)).OKNOK;

                                             if (res == 1)
                                             {
                                                <td>OK</td>
                                             }
                                             else
                                             {
                                                <td>NOK</td>
                                             }
                                         }
                                         else if (result.TipoTeste == 0)
                                         {
                                            <td>@((VisualizadorInspecoesQMS.Models.DTO_Teste.Quantitativo)result).Resultado </td>
                                         }
                                         else if (result.TipoTeste == 2)
                                         {
                                             var res = ((VisualizadorInspecoesQMS.Models.DTO_Teste.Qualitativo)(result)).OKNOK;

                                             if(res)
                                             {
                                                <td>OK</td>
                                             }
                                            else
                                            {
                                                <td>NOK</td>
                                            }
                                         }
                                         else if (result.TipoTeste == 3)
                                         {
                                             var res = ((VisualizadorInspecoesQMS.Models.DTO_Teste.Laboratorio)(result)).OKNOK;

                                             if (res)
                                             {
                                                <td>OK</td>
                                             }
                                             else
                                             {
                                                <td>NOK</td>
                                             }
                                         }
                                     </tr>
                                 }
                             }
                         </tbody>
                     </table>
                     }
                  </div>
             }
        </div>
    </div>
    <div class="col-sm-6">
        <h3>Historial mensagens inspeção</h3>
        <div style="width: 500px; height: 500px; overflow-y: scroll;">
            @{
                foreach (var msg in Model.ChatMessages)
                {
                    <div class="contained" style="color:white;background-color:@msg.CorFundo;">
                        <h6 style="margin:0;color:black;">@msg.utilizador</h6>
                        <p style="color:black;">@msg.Mensagem</p>
                        <span class="time-right" style="color:black;">@msg.Data</span>
                    </div>
                }
            }
        </div>
        <div class="row" >
            @using (Html.BeginForm("ChatValidation", "Home"))
            {
                 <div class="form-group col-sm-6"><input type="text" class="form-control" style="margin-top:10px;margin-left:15px;" name="caixaTExto" placeholder="Escrever mensagem..." /></div>

                 <div class="form-group col-sm-2" style="margin-top:10px"><button class="btn btn-info">Envia</button></div>
                 <div class="form-group col-sm-3" style="margin-top:10px"><button class="btn btn-warning">Atualizar Mensagens</button></div>
            }
    </div>
        <div class="row" id="containerFotos">
            <img id="FotoSelecionada"/>
        </div>
    </div>
</div>

<script type="text/javascript">
    function MostraFoto(dat) {
        document.getElementById("FotoSelecionada").src = document.getElementById(dat.id).src;
    }
  
</script>